<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>web-m</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
	</head>
	<style>
		nav p{
			font-family: 'Brush Script MT', cursive;
			font-size:40px;
			color: blue;
		}
		nav{
			display:flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			width: 70%;
			border-bottom: 1px solid rgb(202, 196, 196);
		}
		nav ul{
			display:flex;
		}
		nav ul li{
			list-style: none;
			padding-left:20px;
			cursor:pointer;
		}
		.my-5{
			justify-content:center;
			text-align:center;
		}
		footer {
       margin: 20px auto;
       text-align: center;
		}
	</style>
	<header>
		<nav>
			<p>web-m</p>
			<ul>
				<li>For web masters</li>
				<li>Help</li>
			</ul>
		</nav>
	</header>
	<body>
		<div class="container my-5">
			<h1><strong>Youtube Downloader</strong></h1>
			<form method="GET" action='/download' class="my-5">
				<div class="form-group">
					<label for="videoURL"
						>Video Link from Youtube</label
					>
					<input
						type="text"
						class="form-control"
						placeholder="Enter Video URL"
                        name="url"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Download</button>
			</form>
		</div>
	</body>
	<footer><p>Created by McDan. © 2022</p></footer>
</html>